# API URL - Laragon (Desactivado)
# VITE_API_URL=http://api.tudestino.test/api

# API URL - Localhost (Activado)
VITE_API_URL=http://localhost:3000/api

# Timeout de peticiones API (milisegundos)
VITE_API_TIMEOUT=30000
